django>=4.0
pymysql>=1.0.2
django-crispy-forms>=2.0
crispy-bootstrap5>=0.6
django-recaptcha>=3.0.0
django-auto-logout>=0.5
django-two-factor-auth>=1.14
phonenumbers>=8.12.50
django-allauth[socialaccount]>=0.54
django_widget_tweaks