{% extends 'inventory/base.html' %}

{% block content %}
	<div class="row">
		<div class="col-11 col-md-4 mx-auto mt-5">
			<h2>Password reset complete</h2>
			<div class="border-top pt-3">
				<p class="text-muted">
					Your password has been set. You may go ahead and log in now.
                </p>
			</div>
            <small class="text-muted">Login from here
                <a href="{% url 'login' %}" class="ml-2">
                    Login
                </a>
            </small>
		</div>
	</div>
{% endblock content %}